@import "../../styleVariables";

.app {
  text-align: center;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    $gradientStartColor 0%,
    $gradientEndColor 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons {
    display: flex;
  }
  .indicators {
    display: flex;
  }
}
